@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(245, 245, 245);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}
.back-btn{
    margin-top: 0;
    margin-left:900px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #000;
    position: relative;
    transition:  0.5s;
    margin-bottom: 200px;
}
.back-btn span{
    position: absolute;
    background: #000;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
.back-btn:hover span{
    width: 100%;
}
.back-btn:hover{
    color:#fff;
}
.buttonLink {
    color: black;
    font-weight: bold;
    border: 3px solid black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all .3s;
    display: inline-block;
    margin-top: 30px;
}

.buttonLink:hover {
    color: #fff;
    background-color: black;
}

.socialMediaDiv {
    margin-top: 30px;
}

.socialMediaDiv .socialMedia {
    margin: 0 25px;
    font-size: 1.5rem;
    color: #000;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    transition: all .3s;
}

.socialMediaDiv .socialMedia:hover {
    color: white;
    background-color: black;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    font-weight: 400;
}

ul li a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    transition: all .3s;
}

ul li a:hover {
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;
}

ul li .specialNavBarItem {
    color: rgb(240, 240, 240);
    background-color: rgb(82, 72, 226);
    padding: 15px 20px;
    border-radius: 100px;
    transition: all .3s;
}

ul li .specialNavBarItem:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(238, 69, 120);
}

.specialText {
    font-weight: 700;
    background: -webkit-linear-gradient(left, rgb(82, 72, 226), rgb(238, 69, 120));
    
    -webkit-text-fill-color: transparent;
}

/* Header */

header {
    background: url(Uses\ of\ Drones.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 170vh;
}

header .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

header #landingPageContent {
    text-align: center;
    margin-top: 140px;
}

header #landingPageContent .subTitle {
    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    width: 60%;
    margin: auto;
}



footer {
    text-align: center;
}
footer #contactMe p {
    display: inline-block;
    width: 40%;
    margin-top: 10px;
}

footer #contactMe .footerNavBar {
    background-color: rgb(20, 20, 20);
    margin-top: 50px;
    padding: 100px 0;
}

footer #contactMe .footerNavBar a {
    color: rgb(255, 255, 255);
}
.slider{
    display: grid;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 10px;
    max-width: 1100px;
    display: flex;
  }
  .slider .card{
    flex: 1;
    margin: 0 10px;
  }
  .slider .card .img{
    height: 200px;
    width: 100%;
  }
  .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slider .card .content{
    padding: 10px 20px;
  }
  .card .content .title{
    font-size: 25px;
    font-weight: 600;
  }
  .card .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
  }
  .card .content p{
    text-align: justify;
    margin: 10px 0;
  }
  .card .content .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
  }
  .card .content .btn a{
    color: rgb(102, 98, 98);
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
  }
  .card .content .btn a:hover{
    transform: scale(0.9);
    color: #fff;
  }